<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"> {% endcomment %}
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tasks'%}">Tasks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tasks_completed' %}">Tasks Completed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_tasks'%}">Create Tasks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signin' %}">signin</a>
              </li> 
              {% endif %}             
            </ul>
          </div>
        </div>
      </nav>

    {% comment %} <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'tasks'%}">Tasks</a>
            </li>
            <li>
                <a href="{% url 'tasks_completed' %}">Tasks Completed</a>
            </li>
            <li>
                <a href="{% url 'create_tasks'%}">Create Tasks</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">signup</a>
            </li>
            <li>
                <a href="{% url 'signin' %}">signin</a>
            </li>
            {% endif %}
        </ul>
    </nav> {% endcomment %}

    {% block content %}
    {% endblock %}

    <script defer="" referrerpolicy="origin" src="/cdn-cgi/zaraz/s.js?z=JTdCJTIyZXhlY3V0ZWQlMjIlM0ElNUIlNUQlMkMlMjJ0JTIyJTNBJTIyQWRtaW5MVEUlMjAzJTIwJTdDJTIwR2VuZXJhbCUyMFVJJTIyJTJDJTIyeCUyMiUzQTAuNjQ1NzMzMjc2OTQ1NjAyOCUyQyUyMnclMjIlM0ExNTM2JTJDJTIyaCUyMiUzQTg2NCUyQyUyMmolMjIlM0E3MTUlMkMlMjJlJTIyJTNBMTUzNiUyQyUyMmwlMjIlM0ElMjJodHRwcyUzQSUyRiUyRmFkbWlubHRlLmlvJTJGdGhlbWVzJTJGdjMlMkZwYWdlcyUyRlVJJTJGZ2VuZXJhbC5odG1sJTIyJTJDJTIyciUyMiUzQSUyMmh0dHBzJTNBJTJGJTJGYWRtaW5sdGUuaW8lMkZ0aGVtZXMlMkZ2MyUyRnBhZ2VzJTJGVUklMkZpY29ucy5odG1sJTIyJTJDJTIyayUyMiUzQTI0JTJDJTIybiUyMiUzQSUyMlVURi04JTIyJTJDJTIybyUyMiUzQTMwMCUyQyUyMnElMjIlM0ElNUIlNUQlN0Q="></script>
</body>
</html>