{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center mb-3">Django App</h1>
        <p style="text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate temporibus dolorem vitae veniam, 
            quasi tenetur odit ut eveniet nulla, reiciendis, voluptates obcaecati! Unde quibusdam sunt dolorum 
            pariatur sequi dolore corrupti voluptate mollitia repudiandae repellendus aspernatur doloremque, 
            hic itaque totam nemo! Est reiciendis illo libero qui? Ad tempore ab omnis modi maiores ipsa eligendi, 
            quibusdam quis repudiandae. Nobis consectetur maiores quos temporibus error rerum neque totam et modi 
            qui quisquam quasi asperiores suscipit quo reprehenderit vitae soluta repudiandae quam, consequuntur, 
            nesciunt natus ducimus vero! Assumenda atque animi molestiae, facilis dignissimos magnam doloribus 
            nostrum exercitationem incidunt officiis, quae repudiandae fugit! Consequatur, quaerat!</p>
            <div class="text-center">
                <a class="btn bg-gradient-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn bg-gradient-primary " href="/signup/">
                    Signup
                </a>
            </div>
    </section>   
</main>

{% endblock %}