{% extends 'base.html' %}

{% block content%}

<main class="container">
    <h1 class="mt-4 mb-4 text-center">Administrar Tarea</h1>
    {{ error }}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-outline card-secondary">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group row mt-1">
                            <label for="id_title" class="col-sm-2 col-form-label">Título</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" value="{{ task.title }}" class="form-control" id="id_title">
                            </div>    
                        </div>
                        <div class="form-group row mt-1">
                            <label for="id_description" class="col-sm-2 col-form-label">Descripción</label>
                            <div class="col-sm-10">
                                <textarea rows="4" name="description" class="form-control" id="id_description" style="width:100%">{{task.description}}</textarea>
                            </div>    
                        </div>
                        <div class="form-group row mt-1" style="align-items: center;">
                            <label for="id_important" class="col-sm-2 col-form-label">Importante</label>
                            <div class="col-sm-10">
                                {% if task.important %}
                                    <input type="checkbox" name="important" id="id_important" checked>
                                {% else %}
                                    <input type="checkbox" name="important" id="id_important">
                                {% endif %}
                            </div>    
                        </div>
                        <button class="btn bg-gradient-info">
                            Update
                        </button> 
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>


{%endblock%}